<div style="background-color: #ffff; height: 100%;">
  <mat-card class="dashboard-card">
    <mat-card-content>
      <mat-toolbar>
        <img src="assets/images/Dashboard.png" class="dashboard-image" />
        <span class="example-spacer"></span>
        <form [formGroup]="search">
          <mat-form-field appearance="outline">
            <mat-label>Search your task here</mat-label>
            <input
              matInput
              formControlName="item"
            />
            <mat-icon matSuffix class="icon" fontIcon="search"></mat-icon>
          </mat-form-field>
        </form>
        <span class="example-spacer"></span>
        <div>
          <mat-icon
            class="icon"
            aria-label="notifications"
            fontIcon="notifications_none"
          ></mat-icon>
          <mat-icon
            class="icon"
            aria-label="calendar"
            fontIcon="calendar_today"
          ></mat-icon>
        </div>
        <button mat-raised-button color="primary" (click)="Logout()" style="color: white;"><mat-icon class="icon" fontIcon="logout"></mat-icon> logout</button>
      </mat-toolbar>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Welcome back, {{ userName }}</mat-card-title>
  </mat-card>

  <div class="dashboard-container">
    <div class="left-section">
      <div class="todo-header">
        
        <mat-icon color="primary">event_note</mat-icon> To-Do
        <button mat-icon-button (click)="openDialog()">
          <mat-icon color="primary">add</mat-icon>
        </button>
      </div>
      <div class="date-section">
        <span>20 June</span>
        <span>Today</span>
      </div>
  
      <dm-task-list></dm-task-list>
    </div>
  
    <div class="right-section">
      <mat-card class="task-status-card">
        <div mat-card-content>
          <h3 class="status-title">Task Status</h3>
          <!-- Placeholder for charts -->
          <div class="chart-placeholder">[Charts]</div>
        </div>
      </mat-card>
  
      <mat-card class="completed-task-card">
        <div mat-card-content>
          <h3 class="completed-title">Completed Task</h3>
          <dm-completed-list></dm-completed-list>
        </div>
      </mat-card>
    </div>
  </div>
  
</div>
