<div style="background-color: #ffff; height: 100%">
  <mat-toolbar>
    <a routerLink="/dashboard">
      <img src="assets/images/Dashboard.png" class="dashboard-image" />
    </a>
    <span class="example-spacer"></span>
    <form [formGroup]="searchForm" (ngSubmit)="Search()">
      <mat-form-field appearance="outline">
        <mat-label>Search your task here</mat-label>
        <input matInput formControlName="item" placeholder="yyyy/MM/dd"/>
        <button
          extended
          matSuffix
          type="submit"
          aria-label="Search"
          class="icon"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <span class="example-spacer"></span>
    <div>
      <mat-icon
        class="icon"
        aria-label="notifications"
        fontIcon="notifications_none"
      ></mat-icon>
      <mat-icon
        class="icon"
        aria-label="calendar"
        fontIcon="calendar_today"
      ></mat-icon>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="Logout()"
      style="color: white"
    >
      <mat-icon class="icon" fontIcon="logout"></mat-icon> logout
    </button>
  </mat-toolbar>
  <h1 style="margin-left: 20px;">Welcome back, {{ userName }} <mat-icon>check</mat-icon></h1>
  <mat-card class="example-card">
    <div class="dashboard-container">
      <div class="left-section">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                <div class="todo-header">
                  <mat-icon color="primary" fontIcon="event_note"></mat-icon>
                  To-Do
                </div>
              </mat-card-title>
              <div (click)="openDialog()" class="btn">
                <button mat-button>
                  <mat-icon color="primary">add</mat-icon>
                  <h3>Add task</h3>
                </button>
              </div>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="date-section">
              <span>{{ date | date : "dd MMMM" }}</span>
              <span> .Today</span>
            </div>
            <ng-container *ngIf="tasks$ | async as tasks; else loading">
              <dm-task-list [tasks]="tasks"></dm-task-list>
            </ng-container>
            <ng-template #loading>
                <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="right-section">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                <div style="display: flex; align-items: center">
                  <mat-icon
                    color="primary"
                    fontIcon="assignment_late"
                  ></mat-icon>
                  <span class="task-title"> OverDue Tasks</span>
                </div>
              </mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <ng-container *ngIf="tasks$ | async as tasks; else loading">
            <dm-overdue-list [tasks]="tasks"></dm-overdue-list>
            </ng-container>
            <ng-template #loading>
                <mat-spinner></mat-spinner>
            </ng-template>
          </mat-card-content>
        </mat-card>
        <br />
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                <div style="display: flex; align-items: center">
                  <mat-icon
                    color="primary"
                    fontIcon="assignment_turned_in"
                  ></mat-icon>
                  <span class="task-title"> Completed Tasks</span>
                </div>
              </mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <ng-container *ngIf="tasks$ | async as tasks; else loading">
              <dm-completed-list [tasks]="tasks"></dm-completed-list>
            </ng-container>
            <ng-template #loading>
                <mat-spinner></mat-spinner>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>
