<div *ngFor="let task of Completed | slice: 0:2">
  <div *ngIf="task.status === 'Completed'">
    <a routerLink="/dashboard/{{ task.id.toString() }}">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>
              <div style="display: flex; align-items: center">
                <mat-icon color="accent">circle</mat-icon>
                <span class="task-title"> {{ task.title }}</span>
              </div>
            </mat-card-title>
            <mat-icon class="more-options">more_vert</mat-icon>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-footer class="example-card-footer">
          Status: <strong class="completed-status">{{ task.status }}</strong>
        </mat-card-footer>
      </mat-card></a>
      <br />
  </div>
</div>
