<div style="background-color: #fff; height: 100%">
  <mat-toolbar class="dashboard-card">
    <a routerLink="/dashboard">
      <img src="assets/images/ToDoHQ.png" class="dashboard-image" />
    </a>
    <span class="example-spacer"></span>
    <form [formGroup]="searchForm" (ngSubmit)="Search()">
      <mat-form-field appearance="outline">
        <mat-label>Search your task here</mat-label>
        <input matInput formControlName="item" placeholder="title or date"/>
        <button
          extended
          matSuffix
          type="submit"
          aria-label="Search"
          class="icon"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <span class="example-spacer"></span>
    <div>
      <mat-icon
        class="icon"
        aria-label="notifications"
        fontIcon="notifications_none"
      ></mat-icon>
      <mat-icon
        class="icon"
        aria-label="calendar"
        fontIcon="calendar_today"
      ></mat-icon>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="Logout()"
      style="color: white"
    >
      <mat-icon class="icon" fontIcon="logout"></mat-icon> logout
    </button>
  </mat-toolbar>
  <ng-container *ngIf="tasks$ | async as tasks; else loading">
    <div class="example-card">
      <div *ngFor="let task of tasks">
        <mat-card appearance="outlined" class="example-card">
          <a class="details" routerLink="/dashboard/{{ task.id.toString() }}">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  <div style="display: flex; align-items: center">
                    <mat-icon color="primary">circle</mat-icon>
                    {{ task.title }}
                  </div>
                </mat-card-title>
                <mat-icon class="more-options">more_vert</mat-icon>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <p>{{ task.description }}</p>
              <div class="task-footer">
                <span
                  >Priority:
                  <strong
                    [ngClass]="{
                      'custom-red': task.priority === 'Extreme',
                      'custom-blue-icon': task.priority === 'Moderate',
                      'custom-green': task.priority === 'Low'
                    }"
                  >
                    {{ task.priority }}</strong
                  ></span
                >
                <span>
                  <p>
                    Status:
                    <strong class="custom-red">{{ task.status }}</strong>
                  </p>

                  Created on: {{ task.createdDate | date : "dd/MM/yyyy" }}
                </span>
              </div>
              <div>Due on: {{ task.dueDate | date : "dd/MM/yyyy" }}</div>
            </mat-card-content>
          </a>
        </mat-card>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
