<div style="background-color: #fff; height: 100%">
  <mat-toolbar class="dashboard-card">
    <a routerLink="/dashboard">
      <img src="assets/images/Dashboard.png" class="dashboard-image" />
    </a>
    <span class="example-spacer"></span>
    <form [formGroup]="searchForm" (ngSubmit)="Search()">
      <mat-form-field appearance="outline">
        <mat-label>Search your task here</mat-label>
        <input matInput formControlName="item" />
        <button
          extended
          matSuffix
          type="submit"
          aria-label="Search"
          class="icon"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <span class="example-spacer"></span>
    <div>
      <mat-icon
        class="icon"
        aria-label="notifications"
        fontIcon="notifications_none"
      ></mat-icon>
      <mat-icon
        class="icon"
        aria-label="calendar"
        fontIcon="calendar_today"
      ></mat-icon>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="Logout()"
      style="color: white"
    >
      <mat-icon class="icon" fontIcon="logout"></mat-icon> logout
    </button>
  </mat-toolbar>
  <ng-container *ngIf="tasks$ | async as tasks; else loading">
    <dm-task-list [tasks]="tasks"></dm-task-list>
  </ng-container>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
